includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	paths:
		- src
	ignoreErrors:
		- '#^Return type \(string\|null\) of method Contributte\\Guzzlette\\Tracy\\Panel::getPanel\(\) should be covariant with return type \(string\) of method Tracy\\IBarPanel::getPanel\(\)$#'
