includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src

	ignoreErrors:
		- '#Call to an undefined method Nette\\Schema\\Elements\\Structure\|Nette\\Schema\\Elements\\Type::dynamic\(\)#'
		# Guzzle 8 types the client config as an exact array shape, the builder collects arbitrary options.
		# Not reported on Guzzle 7, where the config is a plain array.
		-
			message: '#Parameter \#1 \$config of class GuzzleHttp\\Client constructor expects#'
			path: src/GuzzleBuilder.php
			reportUnmatched: false
